body {
	display: block;
	margin: 0 0 0 0;
	font-size: 14px;
	line-height: 1.5em;
	background-image: url(svg/background.svg);
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-weight: 100;
}
#header {
	width: 99%;
	height: 40px;
	padding-top: 10px;
	padding-bottom: 15px;
	padding-left: 15px; 
	text-align: left;
	background: linear-gradient(to right, #4FA542, #84B92F, #94C125);
	position: absolute;
	z-index: 5;
}
#logo {
	fill: #000;
}
.right-nav {
	position: absolute;
	right: 10px;
	bottom: 0;
	width: 200px;

}
.nav-buttons {
	display: inline;
	padding-left: 10px;
}
#wrapper {
	padding: 50px;
	background-color: #fff;
	outline-color: #000000;
	outline-width: 5px;
	min-height: 205px;
}
.summary-wrapper{
	max-height: 200px;
	overflow-y: auto;
}
#notes-list{
	overflow-y:auto;
}
#pagecontainer{
	position: absolute;
	margin-top: 10px;
	width: 100%;
	height: 100%;
	top: 55px;
}
.md-class {
	float: right;
}
.container {
	min-height: 100%;
}
.dialog {
	position: fixed;
	top: 10%;
	left: 25%;
	width: 50%;
	max-width: 630px;
	min-width: 500px;
	height: auto;
	z-index: -10;
}
.dialogVisible {
	visibility: visible;
}

.dialogVisible {
	opacity: 1;
	visibility: visible;
}
.quizContent {
	background: linear-gradient(to right, #4FA542, #84B92F, #94C125);
	position: relative;
	border-radius: 3px;
	margin: 0 auto;
	z-index: 4;
}
.dialogEffect .quizContent {
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.dialogVisible.dialogEffect .quizContent {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}
#sidebar {
    float: left;
    width: 200px;
    padding: 20px;
    background-color: #FFFFFF;
    border: 1px solid #dbedd9;
    left: 35px;
    top: 15px;
}
#sidebar:before {
	box-shadow: 0 0 160px #000;
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -4;
}
#checkCon {
	padding: 10px;
}

#editorCon{
	outline-color: #000000;
	outline-width: 5px;
}
#editorspace {
	width:210mm;
	/*height:350px;*/
	float: right;
	background-color: #FFFFFF;
	right: 25px;
	top: 10px;
}
#editorspace:before {
	box-shadow: 0 0 160px #000;
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -5;
}
#toolbar-title {
	text-align: center;
	font-size: 10px;
}
#editorToolbar{
	background: linear-gradient(to right, #4FA542, #84B92F, #94C125);
	height: 15px;
	/*height: 52px;*/
	overflow: hidden;
	width:210mm;
}
#toolbar{
	text-align: center;
	vertical-align: middle;
}
#editor {
	height:150mm;
	margin-left:auto; 
	margin-right:auto;
	overflow-y: scroll;
}
#type {
	width: 100%;
	height: 100%;
}
#quizHead{
	float: right;
}
#thequiz {
	padding: 10px;
	overflow: hidden;
	border: 1px solid #4aa90e;
}
.icons {
	height: 23px;
	width: 23px;
	vertical-align: middle;
}
.icons:hover{
  -webkit-transform: scale(1.1); 
}
.controlmenu{
	display: inline-block;
}
.editor-button {
	background-color: #000;
}
.editor-button:active {
	background-color: #fff;
}
h3 {
	clear: left; 
}
#leaf{
	position: inherit;
	z-index: 2;
	padding-bottom: 15px;
}
#scorepageTitle{
	z-index: 6;
	top: 20px;
	height: 50px;

}
#leafHolder{
	display: block;
	top: 0;
	margin-left: 0;
	margin-right: 0;
}
#scoreDisplay {
	font-size: 40px;
	z-index: 5;
	top: 0;
}
#quizopener {
	text-align: center;
	font-size: 18px;
	margin: auto 0;
}
#quizButtons{
	float: right;
	position: absolute;
	top: 200px;
	left: 175px;
}
#scorepage{
	text-align: center;
}

.qbutton {
	border: none;
	background: none;
	color: inherit;
	vertical-align: middle;
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 14px;
	font-weight: 100;
	position: relative;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
}
.qbutton:focus {
	outline: none;
}
.qbutton.quiButton-quiz {
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 3px;
	padding-bottom: 3px;
	min-width: 0;
	color: #000000;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow:
	0 6px 0 #fff,
	0 10px 15px rgba(0,0,0,.35);
	-moz-box-shadow:
	0 6px 0 #fff,
	0 10px 15px rgba(0,0,0,.35);
	box-shadow:
	0 6px 0 #fff,
	0 10px 15px rgba(0,0,0,.35);
}
.quiButton-quiz::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	z-index: -1;
	box-shadow: inset 0 0 0 35px #fff;
	-webkit-transform: scale3d(0.9, 0.9, 1);
	transform: scale3d(0.9, 0.9, 1);
	-webkit-transition: box-shadow 0.3s, -webkit-transform 0.3;
	transition: box-shadow 0.3s, transform 0.3s;
}
.quiButton-quiz:hover {
	color: #4fa542;
}
.quiButton-quiz:hover::before {
	box-shadow: inset 0 0 0 2px #edf6ec;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}
.quiButton-quiz:active {	
  -webkit-box-shadow: 
    0 6px 0 #fff,
    0 8px 6px rgba(0,0,0,.3);
  -moz-box-shadow: 
    0 6px 0 #fff,
    0 8px 6px rgba(0,0,0,.3);
  box-shadow: 
    0 6px 0 #fff,
    0 8px 6px rgba(0,0,0,.3);
}
#generateQuizHolder{
	text-align: center;
}
#generateQuizHolder-full{
	text-align: center;
	float: left;
	width: 100%;
	padding-top: 50px;
}
#notes-list ol {
    /*list-style-type: circle;*/
    list-style-type: none;
    /*padding-left: 0;*/
    overflow: hidden;
}

#notes-list ol li {
    margin-bottom: 1px;
    /*display: inline-block;*/
}

.identifier-element {
    background-color: #a2ff9d
}
.parent-element {
	background-color: #80E6FF
}
.date-element {
    background-color: #7791ff
}
.unknown-element {
    background-color: #e5e322
}

.topnoteslist {
    padding-left:0;
}
#wrap {
	min-height: 100%;
	text-align: center;
	width: 1000px;
	position: relative;
	margin: 0 auto;
	background-color: #FFF;
	box-shadow: 0 0 160px #000;
	top: 65px;
}
#quiz-wrap {
	min-height: 500px;
	text-align: center;
	width: 95%;
	position: relative;
	margin: 0 auto;
	background-color: #FFF;
	box-shadow: 0 0 160px #000;
	top: 65px;
} 
#quiz-detail {
	padding: 5%;
	text-align: left;
	font-size: 20px;
}
#quiz-container {
	padding: 5px;
}
.svg-link {
	text-decoration: none;
}
footer {
	text-align: center;
	background-color: #FFF;
	padding-bottom: 10px;
	font-size: 10px;
}
ol {
	padding-left: 14px;
}

/* EDITOR TOOLBAR STUFF ***TEMPORARY*** */

#mceu_6 {
	background-image: none !important;
	background: linear-gradient(to right, #4FA542, #84B92F, #94C125) !important;
	border: none !important;
}
.mce-toolbar-grp {
	background-image: none !important;
	background: linear-gradient(to right, #4FA542, #84B92F, #94C125) !important;
}

.mce-path {
	display: none !important;
}
