body {
	display: block;
	margin: 0 0 0 0;
	font-size: 14px;
	line-height: 1.5em;
	background-image: url(svg/background.svg);
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-weight: 100;
}
#wrap {
	min-height: 100%;
	text-align: center;
	width: 1000px;
	position: relative;
	margin: 0 auto;
	background-color: #FFF;
	box-shadow: 0 0 160px #000;
}
#container {
	width: 100%;
	position: relative;
	text-align: left;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: contain;
}
#header-home {
	width: 100%;
	padding-top: 20px;
	margin-bottom: 15px;
}
#header {
	width: 100%;
	padding-top: 20px;
	margin-bottom: 15px;
	box-shadow: 0px 5px 5px #cae4c6; 
}
#head-content {
	height: 500px;
	padding-right: 40px;
	padding-left: 40px;
	color: #FFF;
	line-height: 1.3em;
	font-size: 20px;
	text-align: left;
}
.left-nav{
	padding-left: 20px;
}
.right-nav{
	float: right;
	position: relative;
	padding-right: 50px;
	bottom: 0;
}
.head-login {
	z-index: 3;
	position: absolute;
	top: 50px;
	width: 210px;
	left: 76%;
	padding: 10px;
	background-color: #fff;
	display: none;
}
.nav-home {
	padding-right: 20px;
	color: #4FA542;
	outline: #000;
}
.nav {
	padding-right: 20px;
	color: #000;
	outline: #000;
}
.headerContainer {
	margin: 0 auto;
	width: 100%;
	height: 0;
	padding-top: 58%; /* ratio of image * 100 */
	overflow: hidden;
	position: relative;
}
.headerBackground {
	position: absolute;
	top: 0;
	overflow: hidden;

}
.background {
	display: block;
	width: 1000px;
}
.screen {
	position: absolute;
	z-index: 3;
	overflow: hidden;
	background: #333;
	width: 688px;
	height: 430px;
	top: -110px;
	left: 173px;
	outline: 1px solid transparent;
	-webkit-transform-origin: 0px 0px 0px;
	transform-origin: 0px 0px 0px;
	-webkit-transform: matrix3d(0.646130241234503, 0.00815882858721858, 0, 0.000003783820762478, -0.033901102438815, 0.560389135504825, 0, -0.000062320701669039, 0, 0, 1, 0, 220, 289, 0, 1);
	transform: matrix3d(0.646130241234503, 0.00815882858721858, 0, 0.000003783820762478, -0.033901102438815, 0.560389135504825, 0, -0.000062320701669039, 0, 0, 1, 0, 220, 289, 0, 1);
}
.slideshow:after { 
    content: '';
}
.slideshow li span { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
	-webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 36s linear infinite 0s;
    -moz-animation: imageAnimation 36s linear infinite 0s;
    -o-animation: imageAnimation 36s linear infinite 0s;
    -ms-animation: imageAnimation 36s linear infinite 0s;
    animation: imageAnimation 36s linear infinite 0s; 
}
.slideshow li:nth-child(1) span { 
    background-image: url(images/quinote.jpg) 
}
.slideshow li:nth-child(2) span { 
    background-image: url(images/quiz.jpg);
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s; 
}
.slideshow li:nth-child(3) span { 
    background-image: url(images/quinote.jpg);
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s; 
}
.slideshow li:nth-child(4) span { 
    background-image: url(images/quiz.jpg);
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s; 
}
.slideshow li:nth-child(5) span { 
    background-image: url(images/quinote.jpg);
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s; 
}
.slideshow li:nth-child(6) span { 
    background-image: url(images/quiz.jpg);
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s; 
}
@-webkit-keyframes imageAnimation { 
    0% { opacity: 0;
    -webkit-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -webkit-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-moz-keyframes imageAnimation { 
    0% { opacity: 0;
    -moz-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -moz-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-o-keyframes imageAnimation { 
    0% { opacity: 0;
    -o-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -o-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-ms-keyframes imageAnimation { 
    0% { opacity: 0;
    -ms-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -ms-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes imageAnimation { 
    0% { opacity: 0;
    animation-timing-function: ease-in; }
    8% { opacity: 1;
         animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
#content{
	background: #FFF;
	padding: 36px 66px 20px 66px;
}
.break {
	height: 2px;
	width: 100%;
	display: block;
	background-color: #E4E4E4;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.feature {
	width: 400px;
	display: inline-block;
	margin-top: 20px;
	min-height: 75px;
}
.icon{
	width: 50px;
	padding: 10px;
}
#homeContainer {
	width: 100%;
	position: relative;
	text-align: left;
	background: linear-gradient(to right, #4FA542, #84B92F, #94C125);
}
.nav-footer {
	color: #4FA542;
	outline: #000;
}
#landingContent {
	background: #FFF;
	padding: 36px 66px 20px 66px;
}
#openQuinote {
	float: right;
	padding-right: 75px; 
}
.break {
	height: 2px;
	width: 100%;
	display: block;
	background-color: #E4E4E4;
}

footer {
	text-align: center;
	background-color: #FFF;
	color: #000;
	padding-bottom: 10px;
	font-size: 10px;
}